html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#403075, #882D61);
}

.piano {
    display: flex;
    position: relative;
    margin-left: 4px;
}

.white-key {
    width: 80px;
    height: 220px;
    background-color: #FFF;
    border: 4px solid black;
    border-radius: 0 0 6px 6px;
    margin-left: -4px;
    outline: none;
    cursor: pointer;
}

.white-key.active {
    background-color: #C0C0C0;
}

.black-key {
    position: absolute;
    width: 40px;
    height: 140px;
    background-image: linear-gradient(#000000, #303030);
    border: 3px solid black;
    border-radius: 0 0 2px 2px;
    outline: none;
    cursor: pointer;
    color: white;
}

.black-key.active {
    background-image: linear-gradient(#000000, #101010);
}

.Db4-key {
    left: 55px;
}

.Eb4-key {
    left: 130px;
}

.Gb4-key {
    left: 285px;
}

.Ab4-key {
    left: 360px;
}

.Bb4-key {
    left: 435px;
}

.Db5-key {
    left: 585px;
}

.Eb5-key {
    left: 660px;
}